<h1>Bonjour! Suppression du produit</h1>

<p>
    Votre produit {{ product }} de la catégorie {{ category }} a été supprimmé par l'administrateur pour des raisons de faux produit <br><br>
</p>

<p>
    Cordialement!
</p>
