<h1>Bonjour! Suppression de votre annonce</h1>

<p>
    Votre annonce correspondant au produit " {{ product }} " dans la catégorie " {{ category }} " a été supprimmé par l'administrateur.
    Votre annonce ne satisfait pas tous les critères de validation du site. <br><br>
</p>

<p>
    Cordialement.
</p>
