<h1>Bonjour! Validation du produit</h1>

<p>
    Votre produit {{ product }} de la catégorie {{ category }} a été validé par l'administrateur, désormais il est publié sur le site<br><br>
</p>

<p>
    Cordialement!
</p>
