<h1>Bonjour! Validation de votre annonce</h1>

<p>
    Votre annonce correspondant au produit " {{ product }} " dans la catégorie " {{ category }} " a été validé par l'administrateur.
    Désormais votre annonce est publiée sur le site.<br><br>
</p>

<p>
    Cordialement.
</p>
