{% extends 'base.html.twig' %}

{% block title %}Un email vous a été envoyé{% endblock %}

{% block body %}
    <p>
        Si l'email entré correspond à un compte sur le site, alors vous allez recevoir un email contenant un lien vous permettant de réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de mail, veuillez vérifier vos spams <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
