{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        <div>Entrez votre adresse mail, vous recevrez alors un lien à cette adresse pour réinitialiser votre mot de passe.</div>
        <br>
        {{ form_row(requestForm.email) }}
        <br>
        <button>Envoyer la demande de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
