<h1>Bonjour! Réservation du produit</h1>

<p>
    Votre produit " {{ product }} " a été réservé par " {{ tenant }} " pour la periode du {{ rentalBeginDate }} au {{ rentalEndDate }} <br><br>
</p>

<p>
    Cordialement!
</p>
