<h1>Bonjour! Réservation du produit</h1>

<p>
    Votre location du produit " {{ product }} " pour la periode du {{ rentalBeginDate }} au {{ rentalEndDate }}, pour un total de {{ price}}€  a bien été prise en compte.<br><br>
</p>

<p>
    Cordialement!
</p>
