<h1>Bonjour! Réseravation du produit</h1>

<p>
    Votre location de {{ product }} a bien été passé en succès pour la periode du {{ rentalBeginDate }} au {{ rentalEndDate }}, pour un total de {{ price}}€ <br><br>
</p>

<p>
    Cordialement!
</p>
