<h2>Bonjour! {{ name }}</h2>

<p>Vous avez selectionné la possibilité de déposer des annonces sur le site.
  Vous pouvez dès à présent publier des annonces qui seront validés par le site, puis disponibles pour les autres utilisateurs.</p>

<p>
    Cordialement!
</p>
