<h1>Bonjour! {{  name }}</h1>

<p>Désormais vous êtes devenu(e) un loueur(se), du coup vous avez la possibilité de créer des annonces afin qu'elled soient validées par l'admin et publiées par la suite</p>

<p>
    Cordialement!
</p>
