<h2>Bonjour! {{ name }}</h2>

<p>Vous avez suspendu votre possibilté de déposer des annonces sur le site, vos annonces en cours ne seront également plus visibles par les autres utilisateurs du site</p>

<p>
    Cordialement!
</p>
