<h2>Bonjour! Caution</h2>

<p>
    Votre caution de {{ caution }}€ concernant votre réservation pour le produit " {{ product }} " vient de vous etre remboursée.<br><br>
</p>

<p>
    Cordialement.
</p>
